name: build and release

on:
  workflow_call:
    inputs:
      release_type:
        required: true
        type: string
      prerelease:
        required: true
        type: boolean

jobs:
  build:
    name: build plugin
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: install node.js
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: latest

      - name: install dependencies
        run: pnpm install

      - name: build plugin
        run: pnpm run build

      - name: upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: luna-artifacts
          path: ./dist

  release:
    name: publish release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: download artifacts
        uses: actions/download-artifact@v4
        with:
          name: luna-artifacts
          path: ./dist/

      - name: determine tag and name
        id: meta
        run: |
          if [ "${{ inputs.release_type }}" = "prod" ]; then
            echo "tag=latest" >> $GITHUB_OUTPUT
            echo "name=Release v${{ github.run_number }}" >> $GITHUB_OUTPUT
          else
            echo "tag=latest-dev" >> $GITHUB_OUTPUT
            echo "name=Dev Release #${{ github.run_number }}" >> $GITHUB_OUTPUT
          fi

      - name: publish release on github
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.meta.outputs.tag }}
          name: ${{ steps.meta.outputs.name }}
          prerelease: ${{ inputs.prerelease }}
          make_latest: true
          files: ./dist/**
          fail_on_unmatched_files: false

