name: dev release

on:
  push:
    branches:
      - dev
    paths:
      - 'plugins/tidarr-integration/**'
      - 'plugins/**'

jobs:
  call-shared-workflow:
    uses: ./.github/workflows/build-and-release.yml
    with:
      release_type: dev
      prerelease: true

