name: prod release

on:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - "**/*.md"
      - ".vscode/**"

jobs:
  call-shared-workflow:
    uses: ./.github/workflows/build-and-release.yml
    with:
      release_type: prod
      prerelease: false

