name: prod release

on:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - "**/*.md"
      - ".vscode/**"
  workflow_dispatch:

jobs:
  call-shared-workflow:
    uses: ./.github/workflows/build-and-release.yml
    with:
      release_type: prod
      tag_name: latest
      prerelease: false
      branch: refs/heads/main
